.App_calendar {
    max-width: 1400px;
    max-height: 1000px;
    margin: 0 auto;
    padding: 25px;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 25%);
}

.fc-toolbar-chunk {
    display: flex;
}

.fc-button-group {
    background-color: white;
}

.fc .fc-toolbar-title{
    font-size: 15px;
}

.fc .fc-toolbar {
    justify-content: flex-start
}

.fc-toolbar-chunk:last-child .fc-button-group {
    display: none;
}

.fc-button-group:first-child button:last-child {
    display: none;
}

.fc-toolbar-chunk:last-child {
    margin-right: 15px;
}

.fc .fc-button-primary:last-child button {
    color: black;
    background-color: white;
}

.fc .fc-daygrid-day-top {
    justify-content: flex-end;
}